header{
  height:500px;
  background-size:cover;
  background-image: url(images/cat2.jpg);

}
.center {
  font-family:"Roboto Slab",sans-serif;
  font-size:36px;
  color:white;
  font-weight:normal;
  max-width:780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
