header{
  height:500px;
  position: relative;
  text-align: center;
}
.center {
  font:'Roboto Slab',serif;
  font-size:36px;
  font-color:white;
  font-weight:normal;
  max-width:780px;
  align-content:center;
}
