header{
  background-image: url("https://github.com/yayinternet/hw1-listicle-liong7658/blob/master/images/cat2.jpg");
  height:500px;
  background-size:cover;

}
.center {
  font-family:"Roboto Slab",sans-serif;
  font-size:36px;
  color:white;
  font-weight:normal;
  max-width:780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
